.App-ContactCard {
    display: flex;
    flex-direction: column;
    width: 270px;
    max-width: 270px;
    min-height: 300px;
    margin: 8px 8px;
    text-align: center;
}

.App-ContactCard .ContactCardNotes {
    white-space: pre-wrap;
}
