.App-ProductCard {
    display: flex;
    flex-direction: column;
    width: 270px;
    max-width: 270px;
    min-height: 300px;
    margin: 8px 8px;
    text-align: center;
}

.App-ProductCard .ProductCardNotes {
    flex-grow: 1;
    white-space: pre-wrap;
}
